.items-bg{
    background-color: #FCEAE8 !important;
    
}
.bag{
    background-color: #DA70D6 !important;
}
.card{
    border:0 !important
}
.subscribe{
    background-color: #FCEAE8;
    border-radius: 8px !important;
    
}

.input{
    border: 0 !important;
    border-radius: 5px;
    
}